
<div class="main-container">

    <!-- HEADER -->
    <header class="block">
        <ul class="header-menu horizontal-list">
            <li>
                <a class="header-menu-tab" href="/"><span class="icon zocial-twitter"></span>uSocial</a>
            </li>
        </ul>
        <div class="profile-menu-right">
            <ul class="header-menu horizontal-list">
                <li>
                    <a class="header-menu-tab" routerLink="/home-perfil" routerLinkActive="active"><span class="icon fontawesome-user"></span>Account</a>
                </li>
            </ul>
        </div>
    </header>

    <!-- MIDDLE-CONTAINER -->
    <div class="middle-container container">
        <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
            <br>
            <div class="profile-picture big-profile-picture clear">
                <img width="100px" alt="Anne Hathaway picture" src="{{photo}}" >
            </div>
            <h1 class="user-name">{{nickname}}</h1>
            <div class="profile-description">
                <div class="join-newsletter block"> <!-- JOIN NEWSLETTER (RIGHT-CONTAINER) -->
                    <div class="input-container">
                        <textarea class="email text-input" name="someName" cols="20" rows="6" (keyup)="onKeyTextPost($event)"></textarea>
                        <div class="custom-file">
                            <label class="custom-file-label" for="customFile" style="background-color:rgb(193,32,32); color: blanchedalmond;">Subir foto</label>
                            <input #file type="file" class="custom-file-input" id="customFile" accept='image/*' (change)="loadPhoto(file.files)">
                        </div>
                        
                        
                    </div>
                    <input type="submit" class="subscribe button" value="Publicar" (click)="publicar()">
                </div>
            </div>
            <ul class="profile-options horizontal-list">
            
            </ul>
        </div>
        <div class="tweets block"  *ngFor="let publicacion of publicaciones">
            <h2 class="titular"><span class="icon zocial-twitter"></span>{{publicacion.nickname}}</h2>
            <font color='white'>{{publicacion.fechahora}}</font>>
            <div class="tweet last">
                <div class="profile-menu">
                    <img *ngIf="publicacion.image_url" width="100px" src={{publicacion.image_url}}>
                </div>
                <p>{{publicacion.text}}</p>
            </div>          
        </div> 
    </div>
</div> <!-- end main-container -->